# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore Jupyter notebook checkpoints (in case)
.ipynb_checkpoints/

# Ignore logs or temporary data
*.log
